{% extends 'base.html.twig' %}

{% block title %}Hello EmpleadoController!{% endblock %}

{% block body %}
    {% for message in app.flashes('mensaje') %}
        <div class="alert alert-notice">
            {{ message }}
        </div>
    {% endfor %}
    {{form(FormularioEmpleado)}}
    {{Nombre_Digitado}}
{% endblock %}
